.left {
    float: left;
    width: 43%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    float: right;
    width: 57%;
    padding: 7px;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-bottom: 0px;
    padding: 2px;
}

p.band{
    font-weight: bold;
}

p.info{
    font-size: 0.9rem;
}

.img{
    display: flex;
    justify-content: center;
}

.ticketContainer{
    height: 240px;
    min-width: 300px;
    margin: 10px;
    border-radius: 10px;
    border-width: thin;
}

a.shop:link, a.shop:visited {

    background-color: hsl(43, 97%, 80%);
    color: hsl(178, 79%, 13%);
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-color: hsl(178, 47%, 27%);
    border-radius: 10px;
}

a.shop:hover {
    background-color: hsl(178, 47%, 34%);
    color: white;
  }


