body{
    font-size: 1.1rem;
    font-family: 'Inconsolata',monospace;
    text-align: center;
}

.button{
    margin: 100;
}

/* p{
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
    font-family: 'Inconsolata',monospace;
    line-height: 1.3;
    width: calc(100% - 50px);
    margin-left: 10px;
} */