.pachena {
  --main-bg-color: #3B6AB3;
  --main-text-color: #FCFCFC;

  --card-bg-color: #3B6AB3;
  --card-text-color: #FCFCFC;

  --popover-bg-color: #FFEAC2;

  --primary-button-bg-color: #EE97A6;
  --primary-button-text-color: #FCFCFC;
  --primary-button-hover-bg-color: #FCFCFC;
  --primary-button-hover-text-color: #312F2E;

  --secondary-button-bg-color: #5C9188;
  --secondary-button-text-color: #FCFCFC;
  --secondary-button-hover-bg-color: #FCFCFC;
  --secondary-button-hover-text-color: #312F2E;

  --load-more-button-hover-bg-color: #FCFCFC10;

  overflow: hidden;

  .pachena-page { 
    position: relative;
    background-color: var(--main-bg-color);
    z-index: 0;
    height: 100%;
  }
  
  .pachena-background-swirls {
    position: relative;
    background-image: url('./assets/backgroundSwirls.png');
    background-size: cover;
    z-index: 1;
  }
  
  /***** BG IMAGES ******/
  
  .sidebar {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
  
  .sidebar-coral-blue {
    background-image: url('./assets/coralBlue.png');
    width: 350px;
    height: 400px;
    left: -150px;
    bottom: 50px;
    background-position: bottom;

    @media (max-width: 900px) {
      left: -240px;
      bottom: 20px;  
    }
  }
  
  .sidebar-coral-pink {
    background-image: url('./assets/coralPink.png');
    width: 600px;
    height: 400px;
    left: -200px;
    top: -50px;
    background-position: top;
    transform: rotate(40deg);

    @media (max-width: 900px) {
      left: -310px;
      top: -100px;
      background-position: top;
      transform: rotate(70deg);
    }
  }
  
  .sidebar-coral-red {
    background-image: url('./assets/coralRed.png');
    width: 300px;
    height: 300px;
    right: -120px;
    top: 250px;
    transform: rotate(-40deg);
  }
  
  .sidebar-pink-googly-eye {
    background-image: url('./assets/pinkGooglyEye.png');
    width: 130px;
    height: 240px;
    right: 30px;
    bottom: -20px;
    background-position: bottom;

    @media (max-width: 900px) {
      width: 100px;
      right: 0px;
      bottom: -40px;
    }
  }
  
  
  
  /******* BUTTONS *******/
  .primary-button {
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
  
    &:hover {
      background-color: var(--primary-button-hover-bg-color);
      color: var(--primary-button-hover-text-color);  
    }
  }
  
  .secondary-button {
    background-color: var(--secondary-button-bg-color);
    color: var(--secondary-button-text-color);

    border: 0;
    box-shadow: 0 3px 1px -2px rgba(0 0 0 / 0.2);
  
    &:hover {
      background-color: var(--secondary-button-hover-bg-color);
      color: var(--secondary-button-hover-text-color);  

      border: 0;
      box-shadow: none;
    }
  }
  
  
  
  /****** CUSTOM COMPONENT COLOURS ******/
  .preview-playlist {
    .MuiCard-root {
      background-color: var(--card-bg-color);
      color: var(--card-text-color);
    }
  
    .MuiButton-root {
      background-color: var(--secondary-button-bg-color);
      color: var(--secondary-button-text-color);
  
      &:hover {
        background-color: var(--secondary-button-hover-bg-color);
        color: var(--secondary-button-hover-text-color);
      }
    }
  }
  
  .about-us-popover {
    button {
      background-color: var(--secondary-button-bg-color);
      color: var(--secondary-button-text-color);
  
      &:hover {
        background-color: var(--secondary-button-hover-bg-color);
        color: var(--secondary-button-hover-text-color);
      }
    }
  }
  
  .about-us-contents {
    background-color: var(--popover-bg-color);
  }
  
  .contact-us-modal-contents {
    background-color: var(--popover-bg-color);
  }

  .profile-menu-button {
    button {
      color: var(--main-text-color);
    }
  }

  .settings-container {
    background-color: var(--popover-bg-color);
  }

  .load-more-button {
    color: var(--main-text-color);
    border-color: var(--main-text-color);

    &:hover {
      border-color: var(--main-text-color);
      background-color: var(--load-more-button-hover-bg-color);
    }
  }

  .in-app-modal {
    background-color: var(--popover-bg-color);
  }
    
}
