.phillips-backyard-2024 {
  --main-bg-color-top: #f37144;
  --main-bg-color-bottom: #f68c2b;
  --main-text-color: #030918;

  --card-bg-color: #f68c2b;
  --card-text-color: #030918;

  --popover-bg-color: #FDF4DC;

  --primary-button-bg-color: #49a7c4;
  --primary-button-text-color: #030918;
  --primary-button-hover-bg-color: #FFFFFF;
  --primary-button-hover-text-color: #030918;

  --secondary-button-bg-color: #fedf21;
  --secondary-button-text-color: #030918;
  --secondary-button-hover-bg-color: #FFFFFF;
  --secondary-button-hover-text-color: #030918;

  --load-more-button-hover-bg-color: #FCFCFC10;

  overflow: hidden;

  .phillips-page { 
    position: relative;
    z-index: 0;
    height: 100%;
  }
  
  .background {
    position: fixed;
    width: 100%;
    height: 40%;
    background-image: linear-gradient( #f68c2b,#f179af );
  }

  /* .background-border {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./assets/phillipsBackgroundBorder.svg');
    background-size: auto;
    z-index: 1;
  } */


  .background-footer {
    position: fixed;
    width: 100%;
    height: 60%;
    background-image: url(/src/festivals/PhillipsBackyard2024/assets/phillipsBackgroundFooter.jpg);
    background-size: cover;
    background-position: top;
    bottom: 0;
  }

  
  /***** BG IMAGES ******/
  
  .sidebar {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sidebar-sparkle-right {
    background-image: url('./assets/phillipsSparkle.png');
    z-index: 4;
    width: 100px;
    height: 100px;
    top: 265px;
    right: 20%;

    @media (max-width: 900px) {
      right: 6%;
    }

    @media (max-width: 600px) {
      top: 465px;
      right: 2%;
    }
  }
  
  
  /******* BUTTONS *******/
  .primary-button {
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
  
    &:hover {
      background-color: var(--primary-button-hover-bg-color) ;
      color: var(--primary-button-hover-text-color) ;  
    }
  }
  
  .secondary-button {
    background-color: var(--secondary-button-bg-color) ;
    color: var(--secondary-button-text-color) ;

    border: 0;
    box-shadow: 0 3px 1px -2px rgba(0 0 0 / 0.2);
  
    &:hover {
      background-color: var(--secondary-button-hover-bg-color) ;
      color: var(--secondary-button-hover-text-color) ;  

      border: 0;
      box-shadow: none;
    }
  }
  
  
  
  /****** CUSTOM COMPONENT COLOURS ******/
  .preview-playlist {
    .MuiCard-root {
      background-color: var(--card-bg-color);
      color: var(--card-text-color);
    }
  
    .MuiButton-root {
      background-color: var(--secondary-button-bg-color);
      color: var(--secondary-button-text-color);
  
      &:hover {
        background-color: var(--secondary-button-hover-bg-color) ;
        color: var(--secondary-button-hover-text-color) ;
      }
    }
  }
  
  .about-us-popover {
    button {
      background-color: var(--secondary-button-bg-color);
      color: var(--secondary-button-text-color);
  
      &:hover {
        background-color: var(--secondary-button-hover-bg-color);
        color: var(--secondary-button-hover-text-color);
      }
    }
  }
  
  .about-us-contents {
    background-color: var(--popover-bg-color);
  }
  
  .contact-us-modal-contents {
    background-color: var(--popover-bg-color);
  }

  .profile-menu-button {
    button {
      color: var(--main-text-color);
    }
  }

  .settings-container {
    background-color: var(--popover-bg-color);
  }

  .load-more-button {
    color: var(--main-text-color);
    border-color: var(--main-text-color);

    &:hover {
      border-color: var(--main-text-color);
      background-color: var(--load-more-button-hover-bg-color);
    }
  }

  .in-app-modal {
    background-color: var(--popover-bg-color);
  }
    
}
