.phillips-backyard {
  --main-bg-color-top: #22407C;
  --main-bg-color-bottom: #002D74;
  --main-text-color: #FFFFFF;

  --card-bg-color: #002D74;
  --card-text-color: #FFFFFF;

  --popover-bg-color: #FDF4DC;

  --primary-button-bg-color: #5ED0DF;
  --primary-button-text-color: #030918;
  --primary-button-hover-bg-color: #FFFFFF;
  --primary-button-hover-text-color: #030918;

  --secondary-button-bg-color: #F2C536;
  --secondary-button-text-color: #030918;
  --secondary-button-hover-bg-color: #FFFFFF;
  --secondary-button-hover-text-color: #030918;

  --load-more-button-hover-bg-color: #FCFCFC10;

  overflow: hidden;

  .phillips-page { 
    position: relative;
    background-color: var(--main-bg-color);
    z-index: 0;
    height: 100%;
  }

  .background-top {
    background-color: var(--main-bg-color-top);
  }

  .background-bottom {
    background-color: var(--main-bg-color-bottom);
  }
  
  .phillips-background-icons {
    position: relative;
    background-image: url('./assets/phillipsBackgroundDoodles.png');
    background-size: auto;
    z-index: 1;
  }

  
  /***** BG IMAGES ******/
  
  .sidebar {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .sidebar-darkened-bird {
    background-image: url('./assets/phillipsBirdLogoDarkened.png');
    z-index: 2;
    width: 450px;
    height: 450px;
    top: -64px;
    left: 6%;
  }

  .sidebar-sparkle-right {
    background-image: url('./assets/phillipsSparkle.png');
    z-index: 4;
    width: 100px;
    height: 100px;
    top: 265px;
    right: 20%;

    @media (max-width: 900px) {
      right: 6%;
    }

    @media (max-width: 600px) {
      top: 465px;
      right: 2%;
    }
  }
  
  
  /******* BUTTONS *******/
  .primary-button {
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
  
    &:hover {
      background-color: var(--primary-button-hover-bg-color) ;
      color: var(--primary-button-hover-text-color) ;  
    }
  }
  
  .secondary-button {
    background-color: var(--secondary-button-bg-color) ;
    color: var(--secondary-button-text-color) ;

    border: 0;
    box-shadow: 0 3px 1px -2px rgba(0 0 0 / 0.2);
  
    &:hover {
      background-color: var(--secondary-button-hover-bg-color) ;
      color: var(--secondary-button-hover-text-color) ;  

      border: 0;
      box-shadow: none;
    }
  }
  
  
  
  /****** CUSTOM COMPONENT COLOURS ******/
  .preview-playlist {
    .MuiCard-root {
      background-color: var(--card-bg-color);
      color: var(--card-text-color);
    }
  
    .MuiButton-root {
      background-color: var(--secondary-button-bg-color);
      color: var(--secondary-button-text-color);
  
      &:hover {
        background-color: var(--secondary-button-hover-bg-color) ;
        color: var(--secondary-button-hover-text-color) ;
      }
    }
  }
  
  .about-us-popover {
    button {
      background-color: var(--secondary-button-bg-color);
      color: var(--secondary-button-text-color);
  
      &:hover {
        background-color: var(--secondary-button-hover-bg-color);
        color: var(--secondary-button-hover-text-color);
      }
    }
  }
  
  .about-us-contents {
    background-color: var(--popover-bg-color);
  }
  
  .contact-us-modal-contents {
    background-color: var(--popover-bg-color);
  }

  .profile-menu-button {
    button {
      color: var(--main-text-color);
    }
  }

  .settings-container {
    background-color: var(--popover-bg-color);
  }

  .load-more-button {
    color: var(--main-text-color);
    border-color: var(--main-text-color);

    &:hover {
      border-color: var(--main-text-color);
      background-color: var(--load-more-button-hover-bg-color);
    }
  }

  .in-app-modal {
    background-color: var(--popover-bg-color);
  }
    
}
