.sidebar {
  position: fixed;
  width: 100px;
  background-size: 114px 348px;
  top: 0;
  bottom: 0;
}

.sidebar-svg-park {
  background-image: url('./background-park.svg');
  left: 0;
  background-position-x: right;
}

.sidebar-svg-electric {
  background-image: url('./background-electric.svg');
  right: 0;
  background-position-x: left;
}

.riff-background {
  min-height: 100vh;
  padding-top: 48px;
  padding-left: 100px;
  padding-bottom: 75px;
  padding-right: 100px;
}

.fill-pale-pink{
  fill: rgba(239,180,210,1);
}

.fill-pale-green{
  fill: rgba(206,228,169,1);
}

.fill-bright-green{
  fill: rgba(112,191,68,1);
}

.fill-light-orange{
  fill: rgba(247,216,173,1);
}

.fill-dark-brown{
  fill: rgba(53,45,42,1);
}

.fill-orange{
  fill: rgba(250,164,26,1);
}

.fill-bright-pink{
  fill: rgba(236,0,140,1);
}
/* svg {
  overflow: visible;
} */

@media only screen and (max-width: 600px) {
  .riff-background {
  padding-left: 20px;
  padding-right: 20px;
}

  .sidebar-svg-park {

    left: -70px;
  }

  .sidebar-svg-electric {

    right: -70px;
  }
}

